body {
    background-image: url("background2.jpg");
    font-family: Comic Sans MS;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    background-color: grey;
    opacity: 0.8;
    padding: 20px; /* Add padding to create some space between the background and the input boxes */
    width: 400px;
    margin: 0 auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px
}

h1 {
    text-align: center;
}

textarea {
    width: 400px;
    height: 600px;
    resize: none;
    overflow: auto;
    font-size: 20px;
    background-color: rgb(204, 199, 199) ;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
input[type="text"], input[type="password"], input[type="email"] {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: white;
}
  
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.erreur {
    font-size: 17px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: orangered;
    opacity: 0.8;
    width: 400px;
    padding: 10px;
    text-align: center;
}

.succes {
    font-size: 17px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    opacity: 0.8;
    width: 400px;
    padding: 10px;
    text-align: center;
}

.profil {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    max-width: 1800px;
    background-color: rgba(90, 90, 90, 0.8); /* Change to your desired background color and opacity */
    border: 1px solid #000000; /* Add a border around the container */
 }
  
  .container > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #000000; /* Add a right border to each child div except the last one */
 }
  
  .container > div:last-child {
    border-right: none; /* Remove the right border from the last child div */
 }
  
  .container > .middle {
    flex: 2;
 }

  .creation{
    all: initial; /* Reset all CSS properties to their initial values */
 }
